r"""
Python CRUD application.
"""

import store

# Helpers
def singleton(cls):
  return cls()

{% for name, prop in props.iteritems() if prop.permissions != '' -%}
@singleton
class {{ name }}:
  {% if 'r' in prop.permissions %}
  def read(self, Data):
    return store[{{ name }}].read(Data['id'])
  {% endif -%}

  {% if 'c' in prop.permissions %}
  def create(self, Data):
    return store[{{ name }}].create(Data)
  {% endif -%}

  {% if 'u' in prop.permissions %}
  def update(self, Data):
    return store[{{ name }}].update(Data['id'], Data)
  {% endif -%}

  {% if 'd' in prop.permissions %}
  def delete(self, Data):
    return store[{{ name }}].delete(Data['id'])
  {% endif -%}

{% endfor -%}
